---
interface Props {
	projects: Array<{
		title: string;
		desc: string;
		tags?: string[];
	}>;
}

const { projects } = Astro.props;
---

<section>
	{
		projects.map((p) => (
			<div class="p-8 rounded-3xl transition-all duration-300 mb-8 group/card hover:bg-base-200/50 hover:shadow-2xl hover:shadow-primary/5 group-hover/list:opacity-50 hover:!opacity-100 border border-transparent hover:border-base-content/10">
				<div class="flex flex-col sm:flex-row gap-4">
					<div class="sm:w-1/4 pt-1">
						<!-- Image Placeholder / Thumbnail Area -->
						<div class="w-24 h-16 rounded border border-base-content/20 bg-base-300/50 flex items-center justify-center opacity-50 group-hover/card:opacity-100 transition-opacity">
							<span class="text-[8px] font-mono font-bold uppercase tracking-tighter opacity-30">PROJECT</span>
						</div>
					</div>
					<div class="sm:w-3/4">
						<h4 class="font-bold text-xl group-hover/card:text-primary transition-all duration-300 flex items-center">
							{p.title}
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/card:-translate-y-1 group-hover/card:translate-x-1 focus-visible:translate-y-1 focus-visible:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg>
						</h4>
						<p class="text-sm opacity-60 mt-4 leading-relaxed font-medium">
							{p.desc}
						</p>
						{p.tags && (
							<div class="mt-6 flex flex-wrap gap-2">
								{p.tags.map((t) => (
									<span class="px-3 py-1 bg-primary/5 text-primary rounded-md font-mono text-[10px] font-bold border border-primary/10">
										{t}
									</span>
								))}
							</div>
						)}
					</div>
				</div>
			</div>
		))
	}
</section>
